ugc_*
.~lock*
*/.~lock*
*/*/.~lock*
*/*/*/.~lock*
build/
__pycache__/
GUI.spec
.GUI_last_path
*/*/*/*.filter
lions_mass_effect_systems*
rerun.py
stellaris.sublime-workspace
ex_planet_engine_mods/ex_pd_engine/common/terraform/00_atoll_terraform_links.txt
ex_planet_engine_mods/ex_pd_engine/common/terraform/gpm_00_pm_terraform_links.txt
ex_planet_engine_mods/ex_pd_engine/common/terraform/new_worlds_basic_terraform_links.txt
ex_planet_engine_mods/ex_pd_engine/common/terraform/new_worlds_advanced_terraform_links.txt
ex_planet_engine_mods/ex_pd_engine/common/terraform/hostileworlds_terraform_links.txt
ex_planet_engine_mods/ex_pd_engine/common/terraform/gpm_00_pm_terraform_links_v2.txt
stellaris_linux.sublime*
